body {
  background-color: #000;
  color: #fff;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.input, .button {
  margin: 10px;
}

.button {
  background-color: #b11226;
}
